# build artifacts
.stamp-*
*.mk.generated
*.config.cache
android-targetarmv5/
android-targetarmv7/
android-targetarm64/
android-targetx86/
android-targetx86_64/
ios-target32/
ios-target64/
ios-cross32/
ios-cross64/
ios-sim32/
ios-sim64/
wasm-interp/
bcl/

# android toolchain
toolchains/